/***
RESETS
***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}