body {
    font-family: "roboto";
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url('https://wallpaper.forfun.com/fetch/8e/8e1c24be93956d53f25e308ecbe48d9b.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}